

button {
    height: 30px;
}
.novel-row,.novels-inside-websites {
    display: table;
}
.novel-row-entry {
    display: table-row;
}

.novel-row-entry label{
    display:table-cell;
    padding:3px 5px;
    white-space: nowrap;
    text-align: right;
}

.novel-row-entry p, .novel-row-entry a{
    display:table-cell;
    word-wrap:anywhere;
    max-width:700px;
}

#fileInput {
    display: None;
}

.novel-row-group {
    margin: 20px 0;
}

#add-website-div {
    display: none;
}


.switch {
  position: relative;
  display: inline-block;
  width: 52px;      
  height: 30px;     
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}


.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(22px); 
}
