

.novel-row,.novels-inside-websites {
    display: table;
}
.novel-row-entry {
    display: table-row;
}

.novel-row-entry label{
    display:table-cell;
    padding:3px 5px;
    white-space: nowrap;
    text-align: right;
}

.novel-row-entry p, .novel-row-entry a{
    display:table-cell;
    word-wrap:anywhere;
    max-width:700px;
}

#fileInput {
    display: None;
}

.novel-row-group {
    margin: 20px 0;
}

#add-website-div {
    display: none;
}